.contain {
  width: 30%;
  height: 30%;
}
.two {
  width: 30%;
  height: 90%;
}
.three {
  width: 30%;
  height: 30%;
  border-top: 20%
}
.four {
  width:30%;
  height:30%;
}
.Asleep {
  width: 30%;
  height:30%;
}
.five {
  width:30%;
  height: 30%;
}
.six {
  width:30%;
  height: 40%;
}
.seven {
  width:30%;
  height: 30%;
}
.shadow {
  width:30%;
  height: 30%;
}
.Asleep {
  width:30%;
  height: 30%;
}
.Billie {
  width:30%;
  height: 30%;
}
.contain {
  width:30%;
  height: 30%;
}
.ocean {
  width:30%;
  height: 30%;
}
.canvas {
width:30%;
height: 30%;
}
.photo {
  width:30%;
  height: 30%;
}
.concert {
  width:30%;
  height: 30%;
}
.coach {
  width:30%;
  height: 30%;
}
.light {
  width:30%;
  height: 30%;
}
.white {
  width:30%;
  height: 30%;
}
.ladder {
  width:30%;
  height: 30%;
}
.ink {
  width:30%;
  height: 30%;
}
.hat {
  width:30%;
  height:30%;
}
.heels {
  width:30%;
  height: 30%;
}
.purple {
  width:30%;
  height: 30%;
}
.hair {
  width:30%;
  height: 30%;
}
.top {
  width:30%;
  height: 30%;
}
.jacket {
  width:30%;
  height: 30%;
}
.right {
  width:30%;
  height: 50%;
}
.pink {
  width:30%;
  height: 30%;
}
.blue {
  width:30%;
  height: 30%;
}
